<h1><%=@user.username%></h1>

<%@user.blogs.each do |blog|%>
<ul>
<li><%= link_to blog.title, blog_path(blog) %></li>
</ul>
<%end%>


<%= link_to 'New Blog', new_blog_path %>
<%= link_to 'See All Users', users_path %>
